
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
    <h1>Check Your Inbox</h1>

    <div class="main-agileinfo">
        <div class="agileits-top">
            <div>
                <p>Reset Password URL Has Been Sent To Your Email <a href="https://mail.google.com" target="_blank">Go to your email</a></p>
            </div>
        </div>
    </div>
</div>
